@using Moviepro.Models;
@model List<TSql_Country>

<a href="#" class="dropdown-toggle" data-toggle="dropdown">Country <b class="caret"></b></a>
<ul class="dropdown-menu multi-column columns-3">
    <li>
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                    <li><a href="@Url.Action("Search_Country", "Search", new { @id = item.IDCountry })">@item.CountryName</a></li>
                </ul>
            </div>
        }
        <div class="clearfix"></div>
    </li>
</ul>
